.panel-button-wrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  width: 48px;
  height: 48px;
}

.panel-button-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  cursor: pointer;
  transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.8);
}

.panel-button-img.pressed {
  transform: scale(0.9);
  box-shadow: none;
}

.panel-button-label {
  position: absolute;
  top: 75%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 4px;
  font-size: 10px;
  font-family: monospace;
  font-weight: bold;
  color: black;
  pointer-events: none;
}

.panel-button-top-label {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 4px;
  font-size: 10px;
  font-family: monospace;
  font-weight: bold;
  color: black;
  pointer-events: none;
}
