.vertical-meter-wrapper {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 200px;
    pointer-events: none;
    display: flex;
    flex-direction: column;
  }
  
  .vertical-meter-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: fill;
    pointer-events: none;
  }
  
  .vertical-meter-cropper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    pointer-events: none;
    transition: height 0.3s ease-out;
  }
  
  /* Container for the off state image - must maintain full height */
  .vertical-meter-off-container {
    position: absolute;
    width: 100%;
    height: 200px; /* Match wrapper height exactly */
    top: 0;
    left: 0;
  }

  .vertical-meter-img-off {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200px; /* Match wrapper height exactly */
    object-fit: fill;
    pointer-events: none;
  }
  